
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "General Sans";

}

.head{
  font-family: "General Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #888888;
}

.head:hover{
  color: #DC4A2D;
  font-weight: 800;
}

h1, p{
  color: #3D3D3D;
}

h2{
  color: #4F4F4F;
}
h3{
  color:  #6E6D6D;
}
.bg{
  color: #B0B0B0;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.bg:hover{
   background-color: #DC4A2D;
   color: #ffffff;
   padding: 10px;
   border-radius: 50px;
   cursor: pointer;

}

.para{
  color: #888888;
  font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor: pointer;
border-bottom: 4px solid transparent; 
}

.para:hover{
  color: #DC4A2D;
  border-bottom: 4px solid #DC4A2D;
  cursor: pointer;

}



